.a1{
	background-image: url(../images/banner.jpg) ;
	height: 240px;
}
.a1 img{
	opacity: 0.4;
	margin-left: -40px;
}
.a2 ul li{
	float: left;
	height: 40px;
	list-style-type: none;
}
.a2 ul li a{
	color: #606060;
	font-size: 20px;
}
.a2 ul li a:link{
	text-decoration: none;
}
.a2 ul li a:hover{
	text-decoration: underline;
	color: 	#F0F0F0;
}
.a2{
	background-color: #303030;
	height: 40px;
	margin-top: -10px;
}
.a3{
	position: absolute;
	left: 900px;
}
.a3 a{
	font-size: 25px;
	color:#989898;
}
.a3 a:link{
	text-decoration: none;
}
.a3 a:hover{
	text-decoration: underline;
	color: #F0F0F0;
}
.a3 input{
	background-color: 	#D8D8D8;
	height: 25px;
	width: 160px;
}
.b1{
	background-image: url(../images/background.jpg);
	height: 1836px;
}
.b2 table{
	position: center;
}
.c0{
	width: 700px;
	position: absolute;
	left: 270px;
}
.c0 p{
	font-size: 17px;
	text-indent: 30px;
	font-family: "KaiTi";
}
#c1{
	font-family: "	SimSun";
	font-size: 25px;
	
}
#c1{
	text-align: center;
}
.c3{
	
	width: 250px;
	position: absolute;
	right: 250px;
	top: 300px;
}
.c3 img{
	float: left;
}
#c5{
	color: #3399FF;
	float: left;
	position: relative;
	top: 8px;
	left: 6px;
	font-size: 13px;
	line-height: 5px;
}
#c5 a{
	color: #3399FF;
}
#c5 a:link{
	text-decoration: none;
}
#c5 a:hover{
	text-decoration: underline;
}
.c6{
	position: relative;
	top: 10px;
}
.c7{
	clear: both;
	position: relative;
	top: 10px;
}
#q1{

	color: black;
}
.c8{
	clear: both;
	position: relative;
	top: 10px;
}
.c9{
	clear: both;
	position: relative;
	top: 10px;
}
.r1{
	clear: both;
	position: relative;
	top: 10px;
}
.r2{
	clear: both;
	position: relative;
	top: 10px;
}
.r3{
	clear: both;
	position: relative;
	top: 10px;
}
#r4{
	clear: both;
	float: right;
}
#r4 a{
	font-size: 15px;
	color: #3399FF;
	position: relative;
	top: 10px;
}
#r4 a:link{
	text-decoration: none;
}
#r4 a:hover{
	text-decoration: underline;
}
.t1{
	width: 300px;
	position: absolute;
	top: 750px;
	right: 225px;
}
#y1{
	text-indent: 0px;
	background-color:#D0D0D0;
}
#y1 a{
	color: #339933;
}
.t1 p{
	text-indent: 2em	;
}
.t3{
	height: 150px;
	width: 950px;
}
#t2{
	width: 1100px;
	height: 330px;
	background-color: 	#E8E8E8;
	position: absolute;
	top: 1280px;
	left: 240px;
}
.m1{
	position: absolute;
	left: 50px;
}
.m1 p{
	font-size: 20px;
}
.m2{
	position: absolute;
	left: 50px;
	top: 200px;
}
.m2 input{
	width: 250px;
}
.m3{
	position: absolute;
	left: 380px;
	top: 200px;
}
.m3 input{
	width: 250px;
}
.m4{
	position: absolute;
	left: 710px;
	top: 200px;
}
.m4 input{
	width: 250px;
}
.m5{
	position: absolute;
	left: 50px;
	top: 270px;
}
.m5 input{
	font-size: 20px;
}
.m9{
	width: 980px;
	height: 100px;
	position: relative;
	left: 500px;
	top: 50px;
}
.m9 p{
	font-size: 30px;
}