.a1{
	background-image: url(../images/banner.jpg) ;
	height: 240px;
}
.a1 img{
	opacity: 0.4;
	margin-left: -40px;
}
.a2 ul li{
	float: left;
	height: 40px;
	list-style-type: none;
}
.a2 ul li a{
	color: #606060;
	font-size: 20px;
}
.a2 ul li a:link{
	text-decoration: none;
}
.a2 ul li a:hover{
	text-decoration: underline;
	color: 	#F0F0F0;
}
.a2{
	background-color: #303030;
	height: 40px;
	margin-top: -10px;
}
.a3{
	position: absolute;
	left: 900px;
}
.a3 a{
	font-size: 25px;
	color:#989898;
}
.a3 a:link{
	text-decoration: none;
}
.a3 a:hover{
	text-decoration: underline;
	color: #F0F0F0;
}
.a3 input{
	background-color: 	#D8D8D8;
	height: 25px;
	width: 160px;
}
.b0{
	background-image: url(../images/背景4.png);
	height: 130px; 
}
.c2{
	background-image: url(../images/背景.jpg);
	height: 250px;
}
.b4{
	font-size: 35px;
	color: 	#080808;
	position: absolute;
	left: 200px;
	top: 250px;
}
.b3{
	font-family: ' FangSong';
	font-size: 20px;
	position: absolute;	
	left: 160px;
	top: 300px;
}
.c1{
	height: 250px;
}
.c3 ol li a{
	color: #FF3366;
}
.w1 ol li a{
	color: #FF3366;
}
.c4{
	font-family: 'STKaiti';
	color: #E8E8E8;
	font-size: 28px;
	position: absolute;
	left: 50px;
	top: 490px;
}
.q1 img{
	height: 150px;
	position: absolute;
	left: 430px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.q1 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100); 
}
#q2 a{
	color: #FFCC99;
	font-family: 'MingLiU';
	position: absolute;
	left: 520px;
	top: 590px;
}
.q3 img{
	height: 150px;
	position: absolute;
	left: 780px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.q3 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100); 
}
#q4 a{
	color: #FFCC99;
	font-family: 'MingLiU';
	position: absolute;
	left: 860px;
	top: 590px;
}
.q5 img{
	height: 150px;
	position: absolute;
	left: 1110px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.q5 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100); 
}
#q6 a{
	color: #FFCC99;
	font-family: 'MingLiU';
	position: absolute;
	top: 590px;
	left: 1205px;
}
.w2{
	font-family: 'STKaiti';
	color: #101010;
	font-size: 28px;
	position: absolute;
	left: 50px;
	top: 725px;
}
.e1{
	background-image: url(../images/背景.jpg) ;
	height: 250px;
}
.w3 img{
	height: 150px;
	position: absolute;
	left: 430px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.w3 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100); 
}
#w4 a{
	color: #009966;
	font-family: 'MingLiU';
	position: absolute;
	left: 520px;
	top: 840px;
}
.w5 img{
	height: 150px;
	width: 250px;
	position: absolute;
	left: 780px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.w5 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100); 
}
#w6 a{
	color: #009966;
	font-family: 'MingLiU';
	position: absolute;
	left: 875px;
	top: 840px;
}
.w7 img{
	height: 150px;
	position: absolute;
	left: 1110px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.w7 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100); 
}
#w8 a{
	color: #009966;
	font-family: 'MingLiU';
	position: absolute;
	top: 840px;
	left: 1190px;
}
.e2 a{
	color: #FF3366;
}
.e3{
	font-family: 'STKaiti';
	color: #E8E8E8;
	font-size: 28px;
	position: absolute;
	left: 50px;
	top: 1000px;
}
.e4 img{
	height: 150px;
	position: absolute;
	left: 430px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.e4 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100); 
}
#e5 a{
	color: #FFCC99;
	font-family: 'MingLiU';
	position: absolute;
	left: 505px;
	top: 1090px;
}
.e6 img{
	height: 150px;
	width: 250px;
	position: absolute;
	left: 780px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.e6 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100); 
}
#e7 a{
	color: #FFCC99;
	font-family: 'MingLiU';
	position: absolute;
	left: 880px;
	top: 1090px;
}
.e8 img{
	width: 240px;
	height: 150px;
	position: absolute;
	left: 1110px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.e8 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100); 
}
#e9 a{
	color: #FFCC99;
	font-family: 'MingLiU';
	position: absolute;
	left: 1210px;
	top: 1090px;
}
.r1{
	height: 250px;
}
.r1 ol li a{
	color: #FF3366;
}
.t1{
	background-image: url(../images/背景.jpg);
	height: 250px;
}
.t1 a{
	color: #FF3366;
}
.r3{
	color: #101010;
	color: black;
	font-family: 'STKaiti';
	font-size: 28px;
	position: absolute;
	left: 50px;
	top: 1250px;
}
.r4 img{
	width: 270px;
	height: 150px;
	position: absolute;
	left: 430px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.r4 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100); 
}
#r5 a{
	color: #009966;
	font-family: 'MingLiU';
	position: absolute;
	left: 505px;
	top: 1345px;
}
.r6 img{
	width: 250px;
	height: 150px;
	position: absolute;
	left: 780px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.r6 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100); 
}
#r7 a{
	color: #009966;
	font-family: 'MingLiU';
	position: absolute;
	top: 1345px;
	left: 855px;
}
.r8 img{
	width: 240px;
	height: 150px;
	position: absolute;
	left: 1110px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.r8 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100); 
}
#r9 a{
	color: #009966;
	font-family: 'MingLiU';
	position: absolute;
	top: 1345px;
	left: 1220px;
}
.t2{
	font-family: 'STKaiti';
	color: #E8E8E8;
	font-size: 28px;
	position: absolute;
	left: 50px;
	top: 1490px;
}
.t3 img{
	width: 270px;
	height: 150px;
	position: absolute;
	left: 430px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.t3 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100);
}
#t4 a{
	color: #FFCC99;
	font-family: 'MingLiU';
	position: absolute;
	left: 525px;
	top: 1590px;
}
.t5 img{
	width: 255px;
	height: 150px;
	position: absolute;
	left: 780px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.t5 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100);
}
#t6 a{
	color: #FFCC99;
	font-family: 'MingLiU';
	position: absolute;
	left: 880px;
	top: 1590px;
}
.t7 img{
	width: 240px;
	height: 150px;
	position: absolute;
	left: 1110px;
	opacity:1.0;
	filter:alpha(opacity=40);
}
.t7 img:hover{
	opacity:0.7;
	filter:alpha(opacity=100);
}
#t8 a{
	color: #FFCC99;
	font-family: 'MingLiU';
	position: absolute;
	left: 1210px;
	top: 1590px;
}
.m1{
	background-image: url(../images/背景5.jpg);
	height: 100PX;
}
.m2{
	color: white;
	position: absolute;
	left: 500px;
}
.l1{
	height: 50px;
}
.m2 p{
	font-size: 20px;
}
.l1 a{
	font-size: 18px;
	position: relative;
	top: 2px;
}
